@import 'src/styles/_vars';

.conversion {
  color: $mainColor;
  text-align: center;
  background-color: $lightColor;
  padding: $gutter;

  &__value {
    font-size: 2em;
    font-weight: bold;
  }
}
