@import 'src/styles/_vars';

.conversion {
  color: $mainColor;
  text-align: center;
  background-color: $lightColor;
  padding: $gutter;

  &__value {
    font-size: 2em;
    font-weight: 700;
  }

  &__currency {
    font-weight: 300;
  }
}

@media (max-height: 568px) {
  .conversion {
    padding: $mobileGutter;
  }
}
