@import 'src/styles/_vars';

.header {
  color: $lightColor;
  text-align: center;
  background-color: $mainColor;
  padding: $gutter;
  
  &__title {
    font-size: 2em;
    font-weight: 700;
  }

  &__input-currency {
    font-weight: 300;
  }
}

@media (max-height: 568px) {
  .header {
    padding: $mobileGutter;
  }
}
